<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <main>
        <div class="main-container col-12">
            <div class="background">
                <div class="row bg-1"></div>
                <div class="row bg-2"></div>
            </div>
            <div id="root" class="app-container col-lg-10">
                <div class="left-col col-lg-4">
                    <div class="row centered user">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4 user-avatar">
                                    <img src="./assets/img/avatar_io.jpg" alt="" srcset="">
                                </div>
                                <div class="col-lg-8 centered username">
                                    <p><strong>Nome Utente</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 icons">
                            <div class="row centered">
                                <div class="col-lg-4">
                                    <i class="fas fa-circle-notch"></i>
                                </div>
                                <div class="col-lg-4">
                                    <i class="fas fa-comment-alt"></i>
                                </div>
                                <div class="col-lg-4">
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row centered bg-3">
                        <div class="col-lg-2 noti-icon">
                            <div class="notifications">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="col-lg-12">
                                <p><strong>Ricevi notifice di nuovi messaggi</strong></p>
                            </div>
                            <div class="col-lg-12">
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                    </div>
                    <div class="row search">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" id="search">
                        <div class="search-icon">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="row contacts">
                        <div v-for="(user, index) in contacts" class="col-lg-12 contact">
                            <div @click="display(index)" class="row">
                                <div class="col-lg-3">
                                    <img :src="user.avatar" alt="" srcset="">
                                </div>
                                <div class="col-lg-9">    
                                    <p><strong>{{user.name}}</strong></p>
                                    <div class="contact-info">
                                        <p>Last received message: {{user.lastReceived}}</p>
                                        <p>Last sent message: {{user.lastSent}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-col">
                    <div class="row centered chat-info">
                        <div class="col-lg-1 chat-user">
                            <img :src="contacts[index].avatar" alt="" srcset="">
                        </div>    
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><strong>{{contacts[index].name}}</strong></p>
                                </div>
                                <div class="col-lg-12">
                                    <p>Ultimo accesso il</p>
                                    <span>{{contacts[index].lastSent}}</span>
                                </div>
                            </div>
                        </div>   
                        <div class="col-lg-1">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="col-lg-1">
                            <i class="fas fa-paperclip"></i>
                        </div>
                        <div class="col-lg-1">
                            <i class="fas fa-ellipsis-v"></i>
                        </div> 
                    </div>
                    <div class="row chat">
                        <div class="chat-display">
                            <div @click="actions(i)" v-for="(message, i) in contacts[index].messages" :id="message.status" :class="message.status" class = "message">
                                <div class="message-container">
                                    <p>{{message.text}}</p>
                                    <p class="date">{{message.date}}</p>
                                </div>
                                <div class="message-actions">
                                    <div @click="informations(i)" class="message-info">
                                        <p>Info messaggio</p>
                                    </div>
                                    <div @click="deleteMessage(i)" class="message-delete">
                                        <p>Elimina messaggio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row chat-input">
                            <div class="col-lg-1 smiles">
                                <i class="far fa-smile"></i>
                            </div>
                            <div class="col-lg-10 message-input">
                                <input type="text" placeholder="Scrivi un messaggio" id="new">
                            </div>
                            <div class="col-lg-1 audio">
                                <i class="fas fa-microphone"></i>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/main.js"></script>
</body>
</html>